/* 
    Document   : dealcss
    Created on : 5 janv. 2013, 01:12:30
    Author     : nora
    Description:
        Purpose of the stylesheet follows.
*/

#produit{
    width: 820px;
    height: 340px;
    
}
#imageProduit{
    width: 385px;
    height:320px;   
}

#imageP{
    float: left;
}
 h3{ font-family: Verdana, arial, sans-serif;
     font-size: 25px; color: #7a9826; padding-bottom: 22px; padding-left: 3px;  }
#deal{
    text-align: right;
    background: url('../images/deal.jpg') no-repeat 0 0 ;
    margin-left: 250px;
    width: 144px;
    height: 42px;
  
    
}
#description{
    margin-left: 24px;  
    width: 400px;
}

#titleD{
    font-size: 25px;
    color: #7a9826;
    font-family: Verdana, arial, sans-serif;
}



